
body{
    font-family: 微軟正黑體;
}
@media screen and (max-width:767px) {

    .content{
        font-size: 1.2rem;
    }
    .midcolumn h1{
        font-size: 1.2rem;
    }
    .midcolumn p{
        font-size: 0.8rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .midImg1{
        background-size: 200%;
        min-height: 300px; 
    }
    .midImg2{
        background-size: 200%;
        min-height: 150px; 
        background-attachment: fixed; /* 固定圖像 */
    }
    .midImg3{
        background-size: 200%;
        min-height: 200px; 
    }
    .midImg4{
        background-size: 100%;
        min-height: 250px; 

    }
    .midImg5{
        min-height: 200px; 
        background-size: 100%;    
    }
    .midImg6{
        min-height: 300px; 
        background-size: 200%;
        background-position-y: 100%; 
        background-attachment: fixed; /* 固定圖像 */
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    
    .content{
        font-size: 1.2rem;
    }
    .midcolumn h1{
        font-size: 1.2rem;
    }
    .midcolumn p{
        font-size: 0.8rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .midImg1{
        min-height: 400px; 
        background-size: 100%;
        background-position-y: 100%; 

    }
    .midImg2{
        min-height: 200px; 
        background-size: 200%;
        background-position-y: 50%; 
        background-attachment: fixed; /* 固定圖像 */
    }
    .midImg3{
        min-height: 300px; 
        background-size: 100%;
    }
    .midImg4{
        min-height: 300px; 
        background-size: 100%;
        background-position-y: 0%; 
    }
    .midImg5{
        min-height: 300px; 
        background-size: 200%;
        background-position-y: 0%; 
    }
    .midImg6{
        min-height: 500px; 
        background-size: 200%;
        background-position-y: 0%;
        background-attachment: fixed; /* 固定圖像 */
    }


}
@media screen and (min-width:1025px) {
    .content{
        font-size: 1.5rem;
    }
    .midcolumn h1{
        font-size: 1.2rem;
    }
    .midcolumn p{
        font-size: 0.9rem;
        margin-left: 100px;
        margin-right: 100px;
    }
    .midImg1{
        min-height: 600px; 
        background-size: cover;
        background-attachment: fixed; /* 固定圖像 */
    }
    .midImg2{
        min-height: 400px; 
        background-size: cover;
        background-attachment: fixed; /* 固定圖像 */

    }
    .midImg3{        
        min-height: 400px;  
        background-size: cover;
        background-attachment: fixed; /* 固定圖像 */
    }
    
    .midImg4{
        min-height: 500px; 
        background-size: cover;
        background-position-y: 50%; 
        background-attachment: fixed; /* 固定圖像 */
    }
    .midImg5{
        min-height: 500px; 
        background-size: cover;
        background-position-y: 50%; 
        background-attachment: fixed; /* 固定圖像 */
    }
    .midImg6{
        min-height: 600px; 
        background-size: cover;
        background-position-y: 90%;
        background-attachment: fixed; /* 固定圖像 */
    }
}



.content{
    font-family: Lucida Console,微軟正黑體;
    color: rgb(94, 94, 94);
    background:rgb(255, 255, 255);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid gray; */
    position:relative; 
    font-size: 1.6rem;   
    
}
.midcolumn{
    width: 100%;
    
}


.midImg1{
    background-image: url("img/IMG_2257.png");
    background-position-x: center;
    background-position-y: 70%; /* 圖像置中 */
}
.midImg2{
    background-image: url("img/IMG_0042.png");
    background-position-x: center;
    background-position-y: 20%; /* 圖像置中 */

}
.midImg3{
    background-image: url("img/IMG_9687.JPG");
    background-position-x: center;
    background-position-y: 20%; /* 圖像置中 */
}
.midImg4{
    background-image: url("img/IMG_4592.JPEG");
    background-position-x: center;
    
}
.midImg5{
    background-image: url("img/IMG_1603.png");
    background-position-x: center;

}
.midImg6{
    background-image: url("img/IMG_1767.png");
    background-position-x: center;
}

.midcolumn .article{
    background:rgb(255, 255, 255);
}
.midcolumn h1{
    margin: 0px auto 20px;
    letter-spacing: 2px;
    line-height: 20pt;
    text-align: center;
    font-weight: bolder;
}
.midcolumn p{
    margin-top: 30px;
    
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-align: center;
    
}
.midcolumn p img{
    width: 100px;
    
}
.midcolumn p span{
    font-weight: bolder;
    font-size: 1.0rem;
}