/* 
rgb(104, 166, 196)藍
rgb(111, 151, 167);
rgb(104, 166, 196)粉 
rgb(167, 111, 111)
*/

/* 平板桌機介面 */
@media screen and (min-width:1025px) {
    .midImg1{
        background-size: cover;
        min-height: 400px; 
        /* 沒內文時可以看到的最小高度 */

        background-attachment:fixed; /* 固定圖像 */
        background-position-x: 0%;
        background-position-y: 0%; /* 圖像置中 */
    }
    .card{
        position: relative;
        width: 350px;
        display: block;
        float:left;
        margin: 60px 0px 60px 10px;
        padding-left: 0px;
    
    }
    .info{
        opacity: 0;
        position: absolute;
        box-sizing: border-box;
        background-color: rgba(0,0,0,.5);
        top: 0;
        width: 350px;
        height: 100%;
        text-align: center;
        padding-top: 25%;
    }
    .info:hover{
        transition: 500ms;
        opacity: 1;
    }
    .twoF{
        display: flex;
        flex-direction: row;
        align-items: flex-end
    }
    .twoFLeft{
        height: 500px;
        width: 40%;
    }
    .twoFRight{
        height: 300px;
        width: 60%;
    }
    .oneFImg1 img{
        width: 80%;
        height: auto;
        float: right;
    }
    .twoFLeft .twoFTitle p{
        padding: 50px 0px 10px 0px;
        text-align: right;
        font-size: 2.0rem;
    }
    .NextLast ul{
        position: absolute;
        bottom: 5%;
        left: 10%;
    }
    .twoFcon li{
        font-size: 0.9rem;
        color: #ffffff;
        margin: 0px 0px 20px 30px;
        line-height: 30px;
    }
    .twoFbox2{
        width: 80%;
        height: 30px;
    }
    .NextLast li{
        line-height: 30px;
        margin: 5px 0px 10px 0px;
        padding: 3px 5px 0px 5px;
        font-size: 1.0rem;
        text-align: justify;
        background: rgb(63, 75, 99);
        letter-spacing: 5px;
        box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.6) ;
    }
    .NextLast li a {
        text-decoration: none;
        color: #e7fff5;
    }
    .NextLast li span{
        color: #FFFFFF;
        opacity: 0;
    }
    .twoFcon .twoFconL li{
        width: 70px;
        display: block;
        padding: 3px 10px 0px 10px;
        font-size: 1.0rem;
        font-weight: bolder;
    }
    .twoFcon .twoFconR li{
        display: block;
        /* width: 80%; */
        padding: 3px 30px 0px 10px;
        font-size: 1.0rem;
    }
    .oneFImg {
        height: 800px;
        
    }
    .oneFImg img{
        width: auto;
        height: 100%;
        float: right;
        padding: 0px 10px 0px 0px;
    }
    .oneFImg2-1 img{
        width: auto;
        height: 500px;
        float: right;
        margin: 0px 10px 0px 0px;
    }
    .oneFImg2-2 img{
        width: auto;
        height: 400px;
        float: right;
    }
    .oneFImg3-1 img{
        width: auto;
        height: 800px;
        float: right;
    }
    .oneFImg3-2 img{
        width: auto;
        height: 800px;
        float: right;
    }
}
.content{
    background:rgb(255, 255, 255);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position:relative; 
    font-size: 1.3rem;   
    display: flex;
    color: rgb(94, 94, 94);
    font-family: Lucida Console,微軟正黑體;
}
.midcolumn{
    width: 100%;
    float: left;
    padding: 0px 0px 0px 0px;
}

.midcolumn .midTopTitle{
    width: 100%;
    float: left;
}
.midcolumn .midTopTitle p{
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    /* text-decoration: none; */
    box-shadow: 0 1px;
    margin-bottom: 1px;
    letter-spacing: 1px;
    padding: 40px 0px 40px 0px;
}
.midcolumn .midTopTitle p a{
    text-decoration: none;
    color:rgb(59, 100, 139) ;
}
.midcolumn .midTopTitle p :hover{
    color:rgb(65, 161, 216) ;
}

.pic {
     position: relative;
}

.pic .WorkTilte{
    text-align: center;
    font-weight: bolder;
}




.midImg1{
    background-image: url("img/IMG_0000.png");
    
}
/* 2頁面 */
.midblock1{
    width: 95%;
    margin: auto;
    background:#FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 10px 0px 0px;
   
}
.card img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.9;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #bdf0f7;
    border: none;
    color:rgb(32, 75, 92);
    text-align: center;
    font-size: 1.1rem;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    opacity: 0.8;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.info p{
    color: #fff;
    font-size: 1.0rem; 
    line-height: 25px;
    margin-top: 10px;
}
.info p span{
    font-weight: bolder;
    font-size: 1.1rem;
}

/* 3頁面 */
.midblock2{
    width: 100%;
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(rgb(67, 114, 158),rgb(46, 52, 58));
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
 
}
.oneF{
    width: 100%;
    position: relative;
}


.oneFImg2{
    display: flex;
    float: right;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.oneFImg3{
    display: flex;
    float: right;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.twoF{
    width: 100%;
    margin: 20px 0px 0px 0px ;
}

.twoFLeft{
    display: flex;
    flex-direction: column;
    position: relative;
}
.twoFLeft .twoFTitle p{
    color:#FFFFFF ;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 60px;
}
.twoFbox1{
    width: 95%;
    height: 10px;
    /* background:#FFFFFF; */
    background-image: linear-gradient(to right,rgb(255, 255, 255) 20%,rgba(255, 255, 255, 0.315)80%);
    position: absolute;
    bottom: 0%;
}
.twoFbox2{
    background-image: linear-gradient(to left,rgb(255, 255, 255) 30%,rgba(171, 179, 204, 0.315)70%);
}

.twoFRight{
    float: left;
    display: block;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
}
.twoFcon{
    float: right;
    display: flex;
    flex-direction: row;
}

.twoFcon li a{
    text-decoration: none;
    font-size: 1.0rem;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
    line-height: 30px;
    box-shadow: 0 1px;
    margin-bottom: 1px;
    letter-spacing: 1px;
    padding: 20px 0px 3px 0px;
    
}

.twoFcon li  :hover{
    color: rgb(241, 241, 163);
}
.twoF .midLogo{
    position: absolute;
    top: 10%;
    right: 10%;
}
.midLogo img{
    width: 150px;
}
.NextLast{
    padding: 0px 20px 20px 0px;
    display: flex;
}


.NextLast ul li:hover{
    background:rgb(63, 98, 99);
}


